<%- include('../layouts/header.ejs') %>

<body style="position: relative;">
    <%- include('../layouts/msg.ejs') %>
    <style>
        *::-webkit-scrollbar{
            width: 0px;
        }

    </style>
    <!-- preloader start here -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- preloader ending here -->


    <!-- ========== Mobile-nav section start here ========== -->
    <%- include('../layouts/mobileMenu.ejs') %>
    <!-- ========== Mobile-nav section end here ========== -->


    <!-- ==========Header Section Starts Here========== -->
    <%- include('../layouts/nav.ejs') %>
    <!-- ==========Header Section Ends Here========== -->
<style> .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }</style>

    <!-- ==========Banner Section Start Here========== -->
    <section class="banner-section position-relative " >
        <div class="container">
            <div id="carouselExampleControls"  data-ride="carousel" class="carousel slide position-absolute w-100 h-100  " style="top:50%; left:50%;  transform: translate(-50%, -50%); z-index: -1; background-color: #3971a5;" >
               <div style="width: 100%; height: 100%;" class="carousel-inner  " style="background-color: #3971a5;">
                   <div  style="width: 100%; height: 100%;" class="carousel-item active"><img class="" style="object-fit: cover; width: 100%; height: 100%; opacity:.3;" src="/pics/1.jpeg" alt=""></div>
                   <div  style="width: 100%; height: 100%;" class="carousel-item"><img class="" style="object-fit: cover; width: 100%; height: 100%; opacity:.3;" src="/pics/2.jpeg" alt=""></div>
                   <div  style="width: 100%; height: 100%;" class="carousel-item"><img class="" style="object-fit: cover; width: 100%; height: 100%; opacity:.3;" src="/pics/3.jpeg" alt=""></div>
                   <div  style="width: 100%; height: 100%;" class="carousel-item"><img class="" style="object-fit: cover; width: 100%; height: 100%; opacity:.3;" src="/pics/4.jpeg" alt=""></div>
                   <div  style="width: 100%; height: 100%;" class="carousel-item"><img class="" style="object-fit: cover; width: 100%; height: 100%; opacity:.3;" src="/pics/5.jpeg" alt=""></div>
                   <div  style="width: 100%; height: 100%;" class="carousel-item"><img class="" style="object-fit: cover; width: 100%; height: 100%; opacity:.3;" src="/pics/6.jpeg" alt=""></div>
                   <div  style="width: 100%; height: 100%;" class="carousel-item"><img class="" style="object-fit: cover; width: 100%; height: 100%; opacity:.3;" src="/pics/7.jpeg" alt=""></div>
                   
               </div>
             
             
            </div>
            <div class="banner-wrapper">
                <div class="banner-content">
                    
                    <h1 class="wow fadeInLeft " style="font-weight: bold; color:white" data-wow-duration="2s" data-wow-delay=".1s">WE ENSURE <br> A HAPPY LIVING</h1>
                    <a  style=" float: left;   border-radius: 10px;" href="/contact" class="lab-btn wow fadeInUp rounded-pill " data-wow-duration="1s" data-wow-delay=".1s"><span>Book Counselling Appointments  <i class="icofont-rounded-double-right"></i></span>
                    </a>
                    
                    <a style=" margin-left: .4rem; border-radius: 10px;" href="/course" class="lab-btn wow fadeInUp    " data-wow-duration="1s" data-wow-delay=".1s"><span>Enroll for Counselling Courses<i class="icofont-rounded-double-right"></i></span>
                    </a>
                    <div class="d-flex" style="gap: 1rem;">
                       
                   
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->
 
    <!-- ==========Department Section Start Here========== -->
    
    <section class="department-section padding-tb style-1">
        <div class="container">
            <div class="department-wrapper">
                <div class="section-header">
                    <!-- <h2><span>We Are The </span></h2> -->
                    <h2 style="text-transform: uppercase; width: 108%;">Create a meaningful <b style="color: #3BAFBF;">impact</b> in your life! </h2>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <div class="">
                              
                            </div>
                            <div style="    border-radius: 15px;" class="department-bottom wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="one">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img style="    border-radius: 15px;" src="/images/orginal/pexels-shvetsa-4672438.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <!-- <h3>Create a meaningful impact in your life!</h3> -->
                                                    <p>The dedicated team at Disha is committed to guiding you through any behavioral or emotional challenges you may face. Counseling is a valuable resource that everyone can benefit from at some stage in their journey. Remember, the emphasis is not on the problems themselves, but on how you navigate through them!</p>
                                                    <ul>
                                                        <li>Meet Our Expert Doctors </li>
                                                        <li>Safe & confidential Enviorment</li>
                                                        <li>Online Counselling
                                                        </li>
                                                        <li>In Person Counsellor</li>
                                                        <!-- <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li> -->
                                                    </ul>
                                                    <a style="    border-radius: 10px;" href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="two">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div style="    border-radius: 15px;" class="col-12 col-lg-6">
                                                <div style="    border-radius: 15px; " class="post-thumb">
                                                    <img style="object-fit: cover;     border-radius: 15px;" src="/images/depart/08.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 2</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="three">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/09.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 3</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="four">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/10.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 4</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="five">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/4.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 5</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="six">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/5.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 6</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="seven">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/6.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 7</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="eight">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/07.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 8</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="nine">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/10.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 9</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Department Section Ends Here========== -->


    <!-- ==========Feature Section Start Here========== -->
    <%- include('../layouts/featured.ejs') %>
    <!-- ==========Feature Section Ends Here========== -->
    
    <!-- ==========Counter Section Start Here========== -->
    <div class="counter-section style-1 padding-60">
        <div class="container">
            <div class="section-wrapper">
                <div class="counter-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="counter-item-inner">
                        <div class="counter-thumb">
                            <img src="/images/counter/01.png" alt="counter">
                        </div>
                        <div class="counter-content">
                            <h3 class="number"><span class="counter">500</span></h3>
                            <p class="post-content">Students</p>
                        </div>
                    </div>
                </div>
                <div class="counter-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="counter-item-inner">
                        <div class="counter-thumb">
                            <img src="/images/counter/02.png" alt="counter">
                        </div>
                        <div class="counter-content">
                            <h3 class="number"><span class="counter">100</span></h3>
                            <p class="post-content">Foreign Students</p>
                        </div>
                    </div>
                </div>
                <div class="counter-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="counter-item-inner">
                        <div class="counter-thumb">
                            <img src="/images/counter/03.png" alt="counter">
                           
                        </div>
                        <div class="counter-content">
                            <h3 class="number"><span class="counter">20</span></h3>
                            <p class="post-content">Faculties</p>
                        </div>
                    </div>
                </div>
                <div class="counter-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="counter-item-inner">
                        <div class="counter-thumb">
                            <img src="/images/counter/04.png" alt="counter">
                        
                        </div>
                        <div class="counter-content">
                            <h3 class="number"><span class="counter">10</span></h3>
                            <p class="post-content">Placements</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <!-- ==========Counter Section Ends Here========== -->

    
    <!-- ==========treament Section Start Here========== -->
    <section class="department-section padding-tb style-1">
        <div class="container">
            <div class="department-wrapper">
                <div class="section-header">
                    <!-- <h2><span>We Are The </span></h2> -->
                    <h2 style="text-transform: uppercase; width: 108%;">
                        Treatment <b style="color: #3BAFBF;">Approach</b>  </h2>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <div class="">
                              
                            </div>
                            <div style="    border-radius: 15px;" class="department-bottom wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="one">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img style="    border-radius: 15px;" src="https://mainlinepapsych.com/wp-content/uploads/2021/08/teen-psychiatry-services.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <!-- <h3>Create a meaningful impact in your life!</h3> -->
                                                    <p>We at disha is a group of compassionate physicians and are committed to offer our patients the highest caliber of care – the same quality of care we would want for a family member or close friend. We are highly collaborative and works closely with patients and their families to help optimize treatment outcomes. We listens carefully to our patients and we use our expertise, knowledge, creativity, and intuition to develop treatment plans that work.</p>
                                                   
                                                    <a style="    border-radius: 10px;" href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="two">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div style="    border-radius: 15px;" class="col-12 col-lg-6">
                                                <div style="    border-radius: 15px; " class="post-thumb">
                                                    <img style="object-fit: cover;     border-radius: 15px;" src="/images/depart/08.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 2</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="three">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/09.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 3</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="four">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/10.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 4</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="five">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/4.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 5</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="six">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/5.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 6</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="seven">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/6.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 7</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="eight">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/07.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 8</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="nine">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/10.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 9</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========treament Section Ends Here========== -->


    <!-- ==========Service Section Start Here========== -->
<%-  include('../layouts/services.ejs') %>
    <!-- ==========Service Section Ends Here========== -->
    <section class="newsletter-section style-1">
        <div class="container">
            <div class="section-wrapper d-flex align-items-center justify-content-between ">
                <div class="news-title">
                    <h2  style="color: white;"> Your smile warms our hearts.</h2>
                </div>
                <p style="padding: .5rem .7rem; border-radius: 10px; box-shadow: 2px 2px 1px 0 #00000036; text-transform: capitalize; background-color: white; color: #3BAFBF;">Join Now</p>
            </div>
        </div>
    </section>

    <!-- ==========Doctor Section Start Here========== -->
    <section class="doctor-section style-1 padding-tb">
        <div class="container">
            <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <h2><span>Meet Our</span></h2>
                <h2 style="text-transform: uppercase;">expert counsellors</h2>
            </div>
            <div class="section-wrapper">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div style="border-radius: 15px;" style="border-radius: 15px;" class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div style="border-radius: 15px;" style="border-radius: 15px;" class="doctor-inner">
                                <div class="doctor-thumb">
                                    <img src="/images/WhatsApp Image 2024-05-06 at 4.19.14 PM.jpeg" alt="doctor">
                                </div>
                                <div class="doctor-content">
                                    <div class="doctor-name" style="    border-radius: 0px 0 10px 10px;">
                                        <h4><a href="/contact">CV Khaleel Rahman</a></h4>
                                        <p class="digi">Senior Psychologist</p>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div style="border-radius: 15px;" class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div style="border-radius: 15px;" class="doctor-inner">
                                <div class="doctor-thumb" >
                                    <img style="    border-radius: 10px 10 0px 0px;" src="images/orginal/WhatsApp Image 2024-05-12 at 16.52.46_63e42cac.jpg" alt="doctor">
                                </div>
                                <div style="border-radius: 10px;" class="doctor-content">
                                    <div class="doctor-name" style="    border-radius: 0px 0 10px 10px;">
                                        <h4><a href="/contact">Dr. Tito Cherian</a></h4>
                                        <p class="digi">Psychologist</p>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div style="border-radius: 15px;" class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div style="border-radius: 15px;" class="doctor-inner">
                                <div class="doctor-thumb">
                                    <img src="images/orginal/WhatsApp Image 2024-05-12 at 16.52.53_4fdd841a.jpg" alt="doctor">
                                </div>
                                <div class="doctor-content">
                                    <div class="doctor-name" style="    border-radius: 0px 0 10px 10px;">
                                        <h4><a href="/contact"> Psy. Sithara Vijayan</a></h4>
                                        <p class="digi"> Psychologist</p>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div style="border-radius: 15px;" class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <div style="border-radius: 15px;" class="doctor-inner">
                                <div class="doctor-thumb">
                                    <img src="images/orginal/WhatsApp Image 2024-05-12 at 16.55.06_f85facac.jpg" alt="doctor">
                                </div>
                                <div class="doctor-content">
                                    <div class="doctor-name" style="    border-radius: 0px 0 10px 10px;">
                                        <h4><a href="/contact">Psy. Farsana Rahim</a></h4>
                                        <p class="digi"></p>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doctor-btn text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span> view all doctors <i
                            class="icofont-rounded-double-right"></i></span></a>
            </div>
        </div>
    </section>
    <!-- ==========Doctor Section Ends Here========== -->


    <!-- ==========Appointment Section Start Here========== -->
    <%-  include('../layouts/appoiment.ejs') %>
    <!-- ==========Appointment Section Ends Here========== -->


   
<style>
    *{
        scroll-behavior: smooth;
    }
</style>

    <!-- ==========Newsletter Section Ends Here========== -->
    <section class="newsletter-section style-1">
        <div class="container">
            <div class="section-wrapper">
                <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="news-title">
                        <h2>Join Our Newsletter</h2>
                    </div>
                </div>
                <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="news-input">
                        <label for="text"><i class="icofont-paper-plane"></i></label>
                        <input type="text" name="text" id="text" placeholder="Enter Your Email">
                        <button class="" type="submit" value="Submit-Now" name="submit">Subscribe Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Newsletter Section Ends Here========== -->


    <!-- ==========Footer Section Ends Here========== -->
    <%- include('../layouts/footer.ejs') %>
    <!-- ==========Footer Section Ends Here========== -->

    <!-- scrollToTop start here -->
   
    <!-- scrollToTop ending here -->


    <%- include('../layouts/layFooter.ejs') %>
