<%- include('../layouts/header.ejs') %>

<body>
    <style>
        *::-webkit-scrollbar{
            width: 0px;
        }

    </style>
    <!-- preloader start here -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- preloader ending here -->


    <!-- ========== Mobile-nav section start here ========== -->
    <%- include('../layouts/mobileMenu.ejs') %>
    <!-- ========== Mobile-nav section end here ========== -->


    <!-- ==========Header Section Starts Here========== -->
    <%- include('../layouts/nav.ejs') %>
    <!-- ==========Header Section Ends Here========== -->


    <!-- ==========Banner Section Start Here========== -->
    <section class="banner-section" style="background-image: url(https://oti.org.in/wp-content/uploads/2023/01/Course-1.jpg);">
        <div class="container">
            <div class="banner-wrapper">
                <div class="banner-content">
                    <!-- <h2 class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".1s">Best Medical
                        Clinic
                    </h2> -->
                    <h1 class="wow fadeInLeft " style="font-weight: bold; color:white" data-wow-duration="2s" data-wow-delay=".1s">WE ENSURE <br> A HAPPY LIVING</h1>
                    <a href="#appointment" class="lab-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s"><span>Get
                            Appoinments <i class="icofont-rounded-double-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->


    <!-- ==========Department Section Start Here========== -->
    <section class="department-section padding-tb style-1">
        <div class="container">
            <div class="department-wrapper">
                <div class="section-header">
                    <!-- <h2><span>We Are The </span></h2> -->
                    <h2 style="text-transform: uppercase; width: 108%;">Create a meaningful <b style="color: #3BAFBF;">impact</b> in your life! </h2>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <div class="">
                              
                            </div>
                            <div class="department-bottom wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="one">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/07.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <!-- <h3>Create a meaningful impact in your life!</h3> -->
                                                    <p>The dedicated team at Disha is committed to guiding you through any behavioral or emotional challenges you may face. Counseling is a valuable resource that everyone can benefit from at some stage in their journey. Remember, the emphasis is not on the problems themselves, but on how you navigate through them!</p>
                                                    <ul>
                                                        <li>Meet Our Expert Doctors </li>
                                                        <li>Safe & confidential Enviorment</li>
                                                        <li>Online Counselling
                                                        </li>
                                                        <li>In Person Counsellor</li>
                                                        <!-- <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li> -->
                                                    </ul>
                                                    <a href="/contact" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="two">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/08.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 2</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="three">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/09.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 3</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="four">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/10.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 4</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="five">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/4.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 5</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="six">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/5.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 6</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="seven">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/6.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 7</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="eight">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/07.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 8</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="nine">
                                        <div class="row flex-row-reverse align-items-center">
                                            <div class="col-12 col-lg-6">
                                                <div class="post-thumb">
                                                    <img src="/images/depart/10.jpg" alt="depart">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="post-content">
                                                    <h3>Speciality Rhinology 9</h3>
                                                    <p>Procedur arrain manu producs rather convenet cuvate mantna this
                                                        man
                                                        Manucur produc rather conven cuvatie mantan this conven cuvate
                                                        bad
                                                        Credibly envisioneer ubiquitous niche markets transparent
                                                        relations
                                                        Dramatically enable worldwide action items whereas magnetic
                                                        source motin was procedur arramin</p>
                                                    <ul>
                                                        <li>Qualified Doctors</li>
                                                        <li>Feel like Home Services</li>
                                                        <li>24×7 Emergency Services</li>
                                                        <li>Outdoor Checkup</li>
                                                        <li>General Medical</li>
                                                        <li>Easy and Affordable Billing</li>
                                                    </ul>
                                                    <a href="/contact" class="lab-btn"><span>Appointment Now <i
                                                                class="icofont-rounded-double-right"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Department Section Ends Here========== -->


    <!-- ==========Feature Section Start Here========== -->
    <%- include('../layouts/featured.ejs') %>
    <!-- ==========Feature Section Ends Here========== -->
    
    <!-- ==========Counter Section Start Here========== -->
    <div class="counter-section style-1 padding-60">
        <div class="container">
            <div class="section-wrapper">
                <div class="counter-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="counter-item-inner">
                        <div class="counter-thumb">
                            <img src="/images/counter/01.png" alt="counter">
                        </div>
                        <div class="counter-content">
                            <h3 class="number"><span class="counter">500</span></h3>
                            <p class="post-content">Patients Every Day</p>
                        </div>
                    </div>
                </div>
                <div class="counter-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="counter-item-inner">
                        <div class="counter-thumb">
                            <img src="/images/counter/02.png" alt="counter">
                        </div>
                        <div class="counter-content">
                            <h3 class="number"><span class="counter">400</span></h3>
                            <p class="post-content">Qualified Doctors</p>
                        </div>
                    </div>
                </div>
                <div class="counter-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="counter-item-inner">
                        <div class="counter-thumb">
                            <img src="/images/counter/03.png" alt="counter">
                        </div>
                        <div class="counter-content">
                            <h3 class="number"><span class="counter">12</span></h3>
                            <p class="post-content">Years Experience</p>
                        </div>
                    </div>
                </div>
                <div class="counter-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="counter-item-inner">
                        <div class="counter-thumb">
                            <img src="/images/counter/04.png" alt="counter">
                        </div>
                        <div class="counter-content">
                            <h3 class="number"><span class="counter">350</span></h3>
                            <p class="post-content">Diagnosis Verity</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========Counter Section Ends Here========== -->


    <!-- ==========Service Section Start Here========== -->
    <section class="service-section style-1 padding-tb bg-color">
        <div class="container">
            <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <h2><span>We Are</span></h2>
                <h2>Offering Reliable Services</h2>
            </div>
            <div class="section-wrapper">
                <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="service-inner">
                        <div class="service-thumb">
                            <img src="/images/service/01.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <h4><a href="/contact">Family & Couple Counselling</a></h4>
                            <p>Enhance strained connections with your partner or other family members. Our effective approach to family and couples therapy aids those experiencing challenges that impact their mental health and overall well-being.</p>
                            <a href="/contact" class="lab-btn"><span>Read More <i
                                        class="icofont-rounded-double-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="service-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="service-inner">
                        <div class="service-thumb">
                            <img src="/images/service/02.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <h4><a href="/contact">MENTAL HEALTH COUNSELLING
                            </a></h4>
                            <p>We provide effective treatment without medicine for depression, anxiety, PTSD, ADHD, bipolar disorder, eating disorders, personality disorders, and just about any psychological issue you can think of.</p>
                            <a href="/contact" class="lab-btn"><span>Read More <i
                                        class="icofont-rounded-double-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="service-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="service-inner">
                        <div class="service-thumb">
                            <img src="/images/service/03.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <h4><a href="/contact">ADOLESCENT COUNSELLING</a></h4>
                            <p>The pre-teen and teenage years can be especially difficult for both child and parents. We provide professional assessment and counselling to address academic issues, guidance and help substance abuse and/or addiction.</p>
                            <a href="/contact" class="lab-btn"><span>Read More <i
                                        class="icofont-rounded-double-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="service-inner">
                        <div class="service-thumb">
                            <img src="/images/service/04.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <h4><a href="/contact">Individual Counselling</a></h4>
                            <p>Help your children to navigate, when they face a rough time in life. The Child and Adolescent counselling deals with children and adolescents, helping them to open up their difficulties or secrets in mind. The counsellor understands the root cause of the problem, and guide them to solve the issue completely.</p>
                            <a href="/contact" class="lab-btn"><span>Read More <i
                                        class="icofont-rounded-double-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Service Section Ends Here========== -->


    <!-- ==========Doctor Section Start Here========== -->
    <section class="doctor-section style-1 padding-tb">
        <div class="container">
            <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <h2><span>Meet Our</span></h2>
                <h2 style="text-transform: uppercase;">expert counsellors</h2>
            </div>
            <div class="section-wrapper">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="doctor-inner">
                                <div class="doctor-thumb">
                                    <img src="/images/WhatsApp Image 2024-05-06 at 4.19.14 PM.jpeg" alt="doctor">
                                </div>
                                <div class="doctor-content">
                                    <div class="doctor-name">
                                        <h4><a href="/contact">CV Khaleel Rahman</a></h4>
                                        <p class="digi">Senior Psychologist</p>
                                    </div>
                                    <ul class="doctor-contact">
                                        <li><span>Phone :</span> +917510404010</li>
                                        <li><span>Email :</span>dishacvjn@gmail.com

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="doctor-inner">
                                <div class="doctor-thumb">
                                    <img src="/images/team/02.jpg" alt="doctor">
                                </div>
                                <div class="doctor-content">
                                    <div class="doctor-name">
                                        <h4><a href="/contact">Patricia Mcneel</a></h4>
                                        <p class="digi">Pediatrist</p>
                                    </div>
                                    <ul class="doctor-contact">
                                        <li><span>Phone :</span> 658 222 127 964</li>
                                        <li><span>Email :</span> admin@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="doctor-inner">
                                <div class="doctor-thumb">
                                    <img src="/images/team/03.jpg" alt="doctor">
                                </div>
                                <div class="doctor-content">
                                    <div class="doctor-name">
                                        <h4><a href="/contact">William Khanna</a></h4>
                                        <p class="digi">Throat Specialist</p>
                                    </div>
                                    <ul class="doctor-contact">
                                        <li><span>Phone :</span> 658 222 127 964</li>
                                        <li><span>Email :</span> admin@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <div class="doctor-inner">
                                <div class="doctor-thumb">
                                    <img src="/images/team/04.jpg" alt="doctor">
                                </div>
                                <div class="doctor-content">
                                    <div class="doctor-name">
                                        <h4><a href="/contact">Eric Patterson</a></h4>
                                        <p class="digi">Therapy</p>
                                    </div>
                                    <ul class="doctor-contact">
                                        <li><span>Phone :</span> 658 222 127 964</li>
                                        <li><span>Email :</span> admin@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doctor-btn text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                <a href="/contact" class="lab-btn"><span> view all doctors <i
                            class="icofont-rounded-double-right"></i></span></a>
            </div>
        </div>
    </section>
    <!-- ==========Doctor Section Ends Here========== -->


    <!-- ==========Appointment Section Start Here========== -->
    <section id="appointment" class="appointment-section style-1">
        <div class="container">
            <div class="section-wrapper">
                <div class="appointment-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="time-info">
                        <div class="al-title">
                            <h2><span>24 Hours </span></h2>
                            <h2>Opening Our Services</h2>
                        </div>
                        <div class="dep-item">
                            <div class="dep-item-inner">
                                <div class="day-name">Satarday</div>
                                <div class="day-time">8:00 am-10:00 pm</div>
                            </div>
                        </div>
                        <div class="dep-item">
                            <div class="dep-item-inner">
                                <div class="day-name">Sunday</div>
                                <div class="day-time">6:00 am-8:00 pm</div>
                            </div>
                        </div>
                        <div class="dep-item">
                            <div class="dep-item-inner">
                                <div class="day-name">Monday</div>
                                <div class="day-time">6:00 am-2:00 pm</div>
                            </div>
                        </div>
                        <div class="dep-item">
                            <div class="dep-item-inner">
                                <div class="day-name">Tuesday</div>
                                <div class="day-time">7:00 am-9:00 pm</div>
                            </div>
                        </div>
                        <div class="dep-item">
                            <div class="dep-item-inner">
                                <div class="day-name">Widnessday</div>
                                <div class="day-time">10:00 am-12:00 pm</div>
                            </div>
                        </div>
                        <div class="dep-item">
                            <div class="dep-item-inner">
                                <div class="day-name">Thirsday</div>
                                <div class="day-time">2:00 am-6:00 pm</div>
                            </div>
                        </div>
                        <div class="dep-item">
                            <div class="dep-item-inner">
                                <div class="day-name">Friday</div>
                                <div class="day-time">Closed</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="appointment-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="ar-title">
                        <h2><span>Make An</span></h2>
                        <h2>Appointment Now</h2>
                    </div>
                    <form action="http://labartisan.net/">
                        <input type="text" id="fname" name="firstname" placeholder="Your Name">
                        <select id="country" name="country">
                            <option value="1">Select Departments</option>
                            <option value="2">Dental</option>
                            <option value="3">U.C</option>
                        </select>
                        <input type="text" id="lname" name="lastname" placeholder="Phone Number">
                        <input type="date" id="start" name="trip-start" value="2021-02-21">
                        <button class="lab-btn" type="submit"><span>Appointment Now <i
                                    class="icofont-double-right"></i></span> </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Appointment Section Ends Here========== -->


    <!-- ==========Blog Section Start Here========== -->
    <section class="blog-section padding-tb bg-color">
        <div class="container">
            <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <h2><span>News Feed</span></h2>
                <h2>Be The First To New Stories</h2>
            </div>
            <div class="section-wrapper">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="post-item-inner">
                            <div class="post-thumb">
                                <a href="/images/blog/1.jpg" data-rel="lightcase:myCollection"><img
                                        src="/images/blog/1.jpg" alt="blog post images"></a>
                            </div>
                            <div class="post-content">
                                <span class="meta">By <a href="/contact">Admin</a> March 24, 2021</span>
                                <h4><a href="/contact">Globa Empoer Extenve Chanels Extensve Creat Method</a></h4>
                                <p>Complete actuaze centi centrcing colora and sharin without anstaled anding bases
                                    aweme medicalplus Template.</p>
                            </div>
                            <div class="blog-footer">
                                <a href="/contact" class="viewall">Read More <i class="icofont-double-right"></i></a>
                                <a href="/contact" class="blog-comment"><i class="icofont-comment"></i> 30</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="post-item-inner">
                            <div class="post-thumb">
                                <a href="/images/blog/2.jpg" data-rel="lightcase:myCollection"><img
                                        src="/images/blog/2.jpg" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <span class="meta">By <a href="/contact">Admin</a> March 24, 2021</span>
                                <h4><a href="/contact">Globa Empoer Extenve Chanels Extensve Creat Method</a></h4>
                                <p>Complete actuaze centi centrcing colora and sharin without anstaled anding bases
                                    aweme medicalplus Template.</p>
                            </div>
                            <div class="blog-footer">
                                <a href="/contact" class="viewall">Read More <i class="icofont-double-right"></i></a>
                                <a href="/contact" class="blog-comment"><i class="icofont-comment"></i> 30</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="post-item-inner">
                            <div class="post-thumb">
                                <a href="/images/blog/3.jpg" data-rel="lightcase:myCollection"><img
                                        src="/images/blog/3.jpg" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <span class="meta">By <a href="/contact">Admin</a> March 24, 2021</span>
                                <h4><a href="/contact">Globa Empoer Extenve Chanels Extensve Creat Method</a></h4>
                                <p>Complete actuaze centi centrcing colora and sharin without anstaled anding bases
                                    aweme medicalplus Template.</p>
                            </div>
                            <div class="blog-footer">
                                <a href="/contact" class="viewall">Read More <i class="icofont-double-right"></i></a>
                                <a href="/contact" class="blog-comment"><i class="icofont-comment"></i> 30</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Blog Section Ends Here========== -->


    <!-- ==========Sponsor Section Start Here========== -->
    <div class="sponsor-section">
        <div class="container">
            <div class="sponsor-area">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="/images/sponsor/1.png" alt="sponso-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="/images/sponsor/2.png" alt="sponso-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="/images/sponsor/3.png" alt="sponso-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="/images/sponsor/4.png" alt="sponso-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="/images/sponsor/5.png" alt="sponso-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <img src="/images/sponsor/6.png" alt="sponso-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========Sponsor Section Ends Here========== -->
<style>
    *{
        scroll-behavior: smooth;
    }
</style>

    <!-- ==========Newsletter Section Ends Here========== -->
    <section class="newsletter-section style-1">
        <div class="container">
            <div class="section-wrapper">
                <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="news-title">
                        <h2>Join Our Newsletter</h2>
                    </div>
                </div>
                <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="news-input">
                        <label for="text"><i class="icofont-paper-plane"></i></label>
                        <input type="text" name="text" id="text" placeholder="Enter Your Email">
                        <button class="" type="submit" value="Submit-Now" name="submit">Subscribe Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Newsletter Section Ends Here========== -->


    <!-- ==========Footer Section Ends Here========== -->
    <%- include('../layouts/footer.ejs') %>
    <!-- ==========Footer Section Ends Here========== -->

    <!-- scrollToTop start here -->
    <a href="/contact" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
    <!-- scrollToTop ending here -->


    <%- include('../layouts/layFooter.ejs') %>
