<%- include('../layouts/header.ejs') %>

<body style="position: relative;">
    <%- include('../layouts/msg.ejs') %>
    <!-- preloader start here -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- preloader ending here -->


    <!-- ========== Mobile-nav section start here ========== -->
    <%- include('../layouts/mobileMenu.ejs') %>
    <!-- ========== Mobile-nav section end here ========== -->


    <!-- ==========Header Section Starts Here========== -->
    <%- include('../layouts/nav.ejs') %>
    <!-- ==========Header Section Ends Here========== -->




    <!-- ==========Page Header Section Start Here========== -->
    <section class="page-header-section service-title style-1"
        style="background-image: url(/images/pageheader/pageheader.jpg)">
        <div class="page-header-content">
            <div class="container">
                <div class="page-header-content-inner">
                    <div class="page-title">
                        <h2>Our Services</h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/home">Home</a></li>
                        <li class="active">Services</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Page Header Section Ends Here========== -->


    <!-- ==========Service Section Start Here========== -->
    <%-  include('../layouts/services.ejs') %>
    <!-- ==========Service Section Ends Here========== -->

    <section class="newsletter-section style-1">
        <div class="container">
            <div class="section-wrapper d-flex align-items-center justify-content-between ">
                <div class="news-title">
                    <h2  style="color: white;"> Your smile warms our hearts.</h2>
                </div>
                <p style="padding: .5rem .7rem; border-radius: 10px; box-shadow: 2px 2px 1px 0 #00000036; text-transform: capitalize; background-color: white; color: #3BAFBF;">Join Now</p>
            </div>
        </div>
    </section>
    <!-- ==========Service Section-2 Start Here========== -->
    <section class="feature-section padding-tb bg-color">
        <div class="container">
            <div class="feature-section-wrapper">
                <div class="section-header wow fadeInUp" data-wow-delay="" data-wow-duration="1s">
                    <h2 style="text-transform: capitalize;"><span> </span> </h2>
                    <h2 style="text-transform: uppercase;">we also provide</h2>
                </div>
                <div class="section-content">
                    <div style="gap: .9rem;" class="row justify-content-center">
                        <div  class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div style="    border-radius: 15px;" class="lab-item feature-item wow fadeInLeft" data-wow-delay=".2s"
                                data-wow-duration="1s">
                                <div class="lab-inner d-flex flex-column  align-items-center ">
                                    <div class="lab-thumb">
                                        <img src="/images/feature/1.png" alt="feature img">
                                    </div>
                                    <div class="lab-content">
                                        <h4>Family counselling</h4>
                                      
                                        <!-- <a href="#" class=""><span>Read More <i
                                                    class="icofont-rounded-double-right"></i></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div style="    border-radius: 15px;" class="lab-item feature-item wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">
                                <div class="lab-inner d-flex flex-column  align-items-center ">
                                    <div class="lab-thumb">
                                        <img src="/images/feature/2.png" alt="feature img">
                                    </div>
                                    <div class="lab-content">
                                        <h4>individual counselling</h4>
                                       
                                        <!-- <a href="#" class=""><span>Read More <i
                                                    class="icofont-rounded-double-right"></i></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div style="    border-radius: 15px;" class="lab-item feature-item wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">
                                <div class="lab-inner d-flex flex-column  align-items-center ">
                                    <div class="lab-thumb">
                                        <img src="/images/feature/3.png" alt="feature img">
                                    </div>
                                    <div class="lab-content">
                                        <h4>students counselling</h4>
                                      
                                        <!-- <a href="#" class=""><span>Read More <i
                                                    class="icofont-rounded-double-right"></i></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div style="    border-radius: 15px;" class="lab-item feature-item wow fadeInRight" data-wow-delay=".2s"
                                data-wow-duration="1s">
                                <div class="lab-inner d-flex flex-column  align-items-center ">
                                    <div class="lab-thumb">
                                        <img src="/images/feature/4.png" alt="feature img">
                                    </div>
                                    <div class="lab-content">
                                        <h4>Adolescent counselling</h4>
                                        
                                        <!-- <a href="#" class=""><span>Read More <i
                                                    class="icofont-rounded-double-right"></i></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div style="    border-radius: 15px;" class="lab-item feature-item wow fadeInRight" data-wow-delay=".2s"
                                data-wow-duration="1s">
                                <div class="lab-inner d-flex flex-column  align-items-center ">
                                    <div class="lab-thumb">
                                        <img src="/images/feature/4.png" alt="feature img">
                                    </div>
                                    <div class="lab-content">
                                        <h4>Geriatric counselling</h4>
                                        
                                        <!-- <a href="#" class=""><span>Read More <i
                                                    class="icofont-rounded-double-right"></i></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div style="    border-radius: 15px;" class="lab-item feature-item wow fadeInRight" data-wow-delay=".2s"
                                data-wow-duration="1s">
                                <div class="lab-inner d-flex flex-column  align-items-center ">
                                    <div class="lab-thumb">
                                        <img src="/images/feature/4.png" alt="feature img">
                                    </div>
                                    <div class="lab-content">
                                        <h4>Pre Marital counselling</h4>
                                        
                                        <!-- <a href="#" class=""><span>Read More <i
                                                    class="icofont-rounded-double-right"></i></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Service Section-2 Ends Here========== -->


    <!-- ==========Sponsor Section Start Here========== -->
    
    <!-- ==========Sponsor Section Ends Here========== -->

    <!-- ==========Footer Section Ends Here========== -->
    <%- include('../layouts/footer.ejs') %>
    <!-- ==========Footer Section Ends Here========== -->

    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
    <!-- scrollToTop ending here -->


    <%- include('../layouts/layFooter.ejs') %>